.indicator {
    text-align: right;
}

.header-border {
    background-color: #18bc9c;
}

.header-wrapper {
	border-top: 1px solid #18bc9c;
	border-left: 1px solid #18bc9c;
	border-bottom: 1px solid #18bc9c;
}

.app-menu-brand {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button:focus {
    background-color: #18bc9c;
}

.app-menu-button:hover {
    background-color: transparent;
    color: #2c3e50;
}

.app-menu-button:active {
	background-color: #18bc9c;
}

.appl-button {
    background-image: url('../../gif/appl/appl-flatly.gif') !important;
}

.environment-button.opened {
    background-color: #15a589;
}

.environment-option {
    background-color: transparent;
    border-bottom-color: #e5e5e5;
    color: #7b8a8b;
}

.environment-option:hover, .environment-option:active {
    color: white;
    background-color: #2c3e50;
}

.environment-option.active-option {
    color: white;
    background-color: #15a589;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: white;
    background-color: #15a589;
}


.user-settings-wrapper.first-item {
    border-color: #18bc9c;
}

.app-launcher-wrapper {
    background-color: #18bc9c;
}

.app-launcher-button {
    background-color: #798d8f;
    border-radius: 4px;
}